{{!-- <div class="">
  <h2 class="section-header">
    Frequently Asked Questions
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {{#each this}}
      <div class="bg-gray-200 p-4 rounded-sm">
        <h4>
          {{convertRTFToHTML question}}
        </h4>
        <p>
          {{convertRTFToHTML answer}}
        </p>
      </div>
    {{/each}}
  </div>
</div> --}}


<h1>Frequently Asked Questions</h1>
  <div class="pt-5 grid grid-cols-1 gap-x-4 gap-y-4 lg:grid-cols-2">
    {{#each this}}
      <details class="rounded-md shadow-md px-5 py-5 bg-white hover:cursor-pointer">
        <summary class="text-lg font-bold text-ll-blue hover:text-ll-red">
          {{!-- {{convertRTFToHTML question}} --}}
          {{question}}
        </summary>
        <p class="py-2 text-xs font-normal">
          {{convertRTFToHTML answer}}
        </p>
      </details>
    {{/each}}
  </div>