<div>
  <img
    class="w-full"
    alt="Static Google map for {{name}} - {{neighborhood}}"
    width="300"
    height="200"
    src="https://maps.googleapis.com/maps/api/staticmap?center=
      {{latitude}}
       ,
      {{longitude}}
       &zoom=14&size=600x400&maptype=roadmap&style=feature:landscape%7Ccolor:0x5A6980&style=feature:road%7Ccolor:0x00173C%7C
       &style=feature:water%7Ccolor:0x00173C%7C
       {{!-- &style=element:labels.text.stroke%7Ccolor:0xffffff%7C
       &style=element:labels.text.fill%7Ccolor:0xffffff%7C --}}
       &style=element:labels.text.stroke%7Cvisibility:off%7C
       &style=element:labels.text.fill%7Cvisibility:off%7C
       &style=feature:transit%7Cvisibility:off%7C
       &style=feature:poi%7Cvisibility:off%7C
       &style=feature:road%7Celement:labels%7Cvisibility:off%7C
       &markers=color:red%7Clabel:LL%7C
      {{latitude}}
       ,
      {{longitude}}
       &key=AIzaSyDZNQlSlEIkFAct5VzUtsP4dSbvOr2bE18"
  />
</div>
