<script src="units.js" id="units-script" data={{id}} clutter0="{{c_clutterUnitsTableText.[0]}}" clutter1="{{c_clutterUnitsTableText.[1]}}" clutter2="{{c_clutterUnitsTableText.[2]}}" clutter3="{{c_clutterUnitsTableText.[3]}}" vendorImage="{{c_thirdPartyVendorImage.url}}" vendorColor="{{c_thirdPartyVendorColor}}" displayClutter="{{c_displayClutterUnit}}" clutterLink="{{c_clutterLink}}">
</script>
<table class="table-fixed">
  <thead>
    <tr class=""> 
      <th class="w-1/3 align-baseline sm:w-2/4 md:w-1/4 lg:w-4/12">
        Unit Size
      </th>
      <th class="hidden md:table-cell sm:w-1/4 md:w-1/4 lg:w-3/12">
        Status
      </th>
      <th class="w-1/3 align-baseline md:w-1/4 lg:w-2/12">
        Price
      </th>
      <th class="w-1/3 sm:w-1/4 md:w-1/4 lg:w-3/12">
        Details
      </th>
    </tr>
  </thead>
  <tbody id="units-table-body">
  </tbody>
</table>
{{> waitlist-form}}
{{!-- {{> clutter}} --}}
